/* styles.css */

/* Variables de colores */
:root {
  --primary-color: #007bff;
  --secondary-color: #f8f9fa;
  --text-color: #333;
  --accent-color: #6c757d;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin-top: 60px;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

h2 {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}

/* Sección de proyectos */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-weight: bold;
  color: var(--accent-color);
}

.card-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

/* Sección de contacto */
.list-inline-item {
  margin: 0 10px;
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:hover {
  background-color: #17a2b8;
  color: #fff;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}
